body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
}

h1 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
}

.source {
    font-size: 1.5em;
    background-color: #007bff;
    color: #fff;
    padding: 0.5em;
    border-radius: 5px;
    margin-bottom: 1em;
}

.article {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1em;
    margin-bottom: 1em;
    cursor: pointer;
    position: relative;
}

.article:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.article-title {
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.article-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.article-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.article-popup {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    margin: 5em auto;
    padding: 1em;
    position: relative;
}

.article-popup-close {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    cursor: pointer;
}

.article-popup-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1em;
}

.article-popup-text {
    padding: 10px;
    max-height: 80vh;
    overflow-y: auto;
}


.marquee {
    font-size: 1.25em;
    font-weight: bold;
    color: #007bff;
    white-space: nowrap;
    display: block;
    animation: marquee 10s linear infinite;
    text-transform: uppercase;
    margin-bottom: 1em;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
